@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
/*this is the coming 3 days cards*/

  
  

.nextDays-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  opacity: 0;
  background-color: #020024 ;
  animation: fadeIn 0.5s forwards;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23454ade' fill-opacity='10' d='M0,32L48,42.7C96,53,192,75,288,117.3C384,160,480,224,576,224C672,224,768,160,864,149.3C960,139,1056,181,1152,176C1248,171,1344,117,1392,90.7L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  gap : 20px;
}
/*.box{
width: 240px;
height: 320px;
background-color: lightblue;
text-align: center;
border: 2px solid darkblue;
border-radius: 10px;
font-size: 20px;
font-weight: bold;
}*/


.cardContainer .icon{
  width: 80px;
  height: 80px;
}
/*this is the main card*/
.weather-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  padding-top: -50px;

}
.cardContainer {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.card{
  position: relative;
  width: 250px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
}
.card-next{
  position: relative;
  width: 250px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  padding: 10px;
  margin: 10px;
  
}

.city {
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 1.2px;
  color: white;
}

.weather {
  font-weight: 500;
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: rgb(197, 197, 197);
}

.temp {
  font-size: 1.8em;
  color: white;
}

.minmaxContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.min,
.max {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 20px;
  gap: 4px;
}

.max {
  align-items: flex-start;
  border-left: 2px solid white;
}

.maxHeading,
.minHeading {
  font-size: 0.7em;
  font-weight: 600;
  color: white;
}

.maxTemp,
.minTemp {
  font-size: 0.6em;
  font-weight: 500;
  color: rgb(197, 197, 197);
}

.cardContainer::before {
  width: 100px;
  height: 100px;
  content: "";
  position: absolute;
  background-color: rgb(144, 161, 255);
  z-index: -1;
  border-radius: 50%;
  left: 100px;
  top: 50px;
  transition: all 1s;
}

.cardContainer:hover::before {
  transform: translate(-50px, 50px);
}


/*
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 200px;
  position: relative;
}
  */
@keyframes flashGren {

  0%, 100% {
    border-color: green;
    box-shadow: 0 0 10px green;
  }
  

50% {
  border-color: #88D66C;
  box-shadow: 0 0 20px #B4E380;
}
}

@keyframes flashRed {

  0%, 100% {
    border-color: #E4003A;
    box-shadow: 0 0 10px #EB5B00;
  }
  50% {
    border-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 20px red;
}
}
.card-next.green-glow {
  animation: flashGren 2s infinite;
}

.card-next.red-glow {
  animation: flashRed 2s infinite;
}

.card-next{
  
  background: rgba( 74, 74, 74, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  }