@import url(grid.css);
@import url(about.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(9,21,129,1) 39%, rgba(7,65,158,1) 53%, rgba(0,212,255,1) 100%);
}
#logo{
    padding: auto;
    margin: auto;
}
.hidden {
    display: none;
}
.header{
    background-color: #201658;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    
}

.logo_home{
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    margin-bottom: 5px;
    padding: 3px;
    
    
}
.header .logo_image{
    max-width: 100%; 
    height: auto; 


}
.navbar a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 20px;
    font-weight: 500;
}
.hero{
    width: 100%;
    height: 665px;  
    background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(9,21,129,1) 39%, rgba(7,65,158,1) 53%, rgba(0,212,255,1) 100%);
    background-size: 100% 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    margin-top: calc(60px);
}


.hero h2{
    font-size: 64px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: -50px;

    
}
.hero button{
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #864AF9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

footer{
    background-color: #201658;
    color: #F9E8C9;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

.hero button:hover {
    background-color: #3B3486;
}





.container-input {
    position: relative;
}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input button {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.container-input svg {
    width: 20px;
    height: 20px;
}

.input:focus {
    opacity: 1;
    width: 250px;
}




.welcome{
    display: block;
}
@media screen and (max-width: 768px){
    .logo_home{
       padding-top: 7px;
        
    }
    
    .logo_image {
        width: 20%; /* Adjust the width as needed */
    }
    #logo{
        font-size: 17px;

        
    }
    .header{
        font-size: 16px;
        padding: 5px;
    }
    .navbar a{
        font-size: 16px;
    }
    .hero h2{
        font-size: 32px;
    }
    .hero button{
        
        font-size: 14px;
    }
    .hero{
        height: 90vh;
    }
    .hero h2, .weather-form{
        padding-top: 0px;
        margin-top: -95px;
    }
    .welcome{
        font-size: 5px;
    }
    .nextDays-card{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    footer{
        position: fixed;
    }
    
}