<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Weave</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- This code is part of the index.
 html file located at the specified file path.
  It represents the closing </head> tag. -->
</head>
<body>
    <header class="header">

        <a href="/" class="logo_home">
            <img class="logo_image" itemprop="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="weather app logo">

        <span id="logo">
            Weather Wave
        </span>
        </a>
        
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="about">About</a>
        </nav>
        
    </header>
    <section class="hero">
        
        <span class="welcome"><h2>Welcome to <br/>Weather wave</h2></span>
        <!-- this form will be used to get the city name from the user -->
<form method="POST" action="/" id="weather-form">
    <div class="container-input">
        <input id="city" type="text" name="city" class="input" required placeholder="Enter city name">
        <button type="submit">
            <svg fill="#000000" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
                <path d="M790.588 1468.235c-373.722 0-677.647-303.924-677.647-677.647 0-373.722 303.925-677.647 677.647-677.647 373.723 0 677.647 303.925 677.647 677.647 0 373.723-303.924 677.647-677.647 677.647Zm596.781-160.715c120.396-138.692 193.807-319.285 193.807-516.932C1581.176 354.748 1226.428 0 790.588 0S0 354.748 0 790.588s354.748 790.588 790.588 790.588c197.647 0 378.24-73.411 516.932-193.807l516.028 516.142 79.963-79.963-516.142-516.028Z" fill-rule="evenodd"></path>
            </svg>
        </button>
    </div>
</form>
<section class="weather-grid hidden">
    <!-- this section will contain the weather data -->
    <div class="cardContainer ">
        <div class="card">
          <p class="city"></p>
          <p class="weather"></p>
          <!--image place-->
          <p class="temp"></p>
          <div class="minmaxContainer">
            <div class="min">
              <p class="minHeading">Min</p>
              <p class="minTemp"></p>
            </div>
            <div class="max">
              <p class="maxHeading">Max</p>
              <p class="maxTemp"></p>
            </div>
          </div>
        </div>
      </div>          
</section>
</section>
<section class="nextDays-card">

</section>
    <footer>
        <p>&copy; {{ now.year }} Zakaria Elkhadir</p>
    </footer>
    </footer>

<script src="{{ url_for('static', filename='dynamic.js') }}"></script>

</body>
</html>